<!--
{% extends "base.html" %}
{% block imports %}
Información de Producto

{% endblock %}

{% block title %}
Información de Producto
{% endblock %}

{% block content %}
	<div class="row">
        <div class="col-sm-12">
            <div class="white-box">
                <h3 class="box-title">Datos de cliente</h3>
			<div>
				<table id="tCamiones"  class="table">	
					<tr>
						<td>Imagen: </td>
						<td>{{ oProducto.imagen }}</td>
					</tr>
					<tr>
						<td>Nombre: </td>
						<td>{{ oProducto.nombre }}</td>
					</tr>
					<tr>
						<td>Codigo: </td>
						<td>{{ oProducto.codigo }}</td>
					</tr>
					<tr>
						<td>Cantidad: </td>
						<td>{{ oProducto.cantidad }}</td>
					</tr>
			</div>
			</div>

	    </div>
    </div>  

{% endblock %}

-->